{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block contenido %}

    {% embed "::portlet.html.twig" with  {'titulo': "Binevenido a Vinoteca "} %}
        {% block in_header %}{% endblock %}
        {% block cuerpo %}
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username},'FOSUserBundle') }}</p>

            {% if app.session is not empty %}
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({},'FOSUserBundle') }}</a>
                    </p>{% endif %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock contenido %}
