{% extends "AppBundle:frontend:layout.html.twig" %}
{% trans_default_domain 'registro' %}

    {% block contenido -%}

        <h2 class="main-heading text-center">
            Registrarse <br>
            <span>Crear Una Nueva Cuenta</span>
        </h2>
        <section class="registration-area">
            <div class="row">
                <div class="col-sm-7">
                    <div class="panel panel-smart">
                        {% include "FOSUserBundle:Registration:register_content.html.twig" %}

                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-smart">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ "registro.condicion.titulo" | trans({},"registro") }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="text-justify">
                            {{ "registro.condicion.texto" | trans({},"registro") | raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>


    {% endblock contenido %}

