{% extends 'AppBundle:admin:base.html.twig' %}

{% block navbar  %}{% endblock %}
{% block topbar %}{% endblock %}

{% block body_id 'login' %}

{% block body %}
    <div class="account-wrapper">

        <div class="account-body">

            <h3 style="line-height: 35px;">Bienvenido a Admin area</h3>

            <h5>Por favor, inicie sesi&oacute;n para obtener acceso.</h5>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData) }}
                </div>
            {% endif %}

            <form class="form account-form" action="{{ path('security_login_check') }}" method="post">

                <div class="form-group">
                    <label for="login-username" class="placeholder-hidden">Usuario</label>
                    <input type="text" class="form-control" id="login-username" placeholder="Usuario" tabindex="1" name="_username" value="{{ last_username }}" required>
                </div> <!-- /.form-group -->

                <div class="form-group">
                    <label for="login-password" class="placeholder-hidden">Clave</label>
                    <input type="password" class="form-control" id="login-password" placeholder="Clave" tabindex="2" name="_password" required>
                </div> <!-- /.form-group -->


                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="4">
                        Ingresar &nbsp; <i class="fa fa-play-circle"></i>
                    </button>
                </div> <!-- /.form-group -->
            </form>



        </div> <!-- /.account-body -->

    </div> <!-- /.account-wrapper -->

{% endblock %}

