<script type="text/javascript">
    var fieldCount = '{{ form.contenidoDetalle | length }}';
    jQuery(document).ready(function () {
        $(document).on('click', '#add-new', function (e) {
            var strField = "appbundle_contenido_contenidoDetalle___name___imagen";

            e.preventDefault();
            var fieldList = jQuery('#item_list_contenidoDetalle_collection');
            var newWidget = fieldList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, fieldCount);

            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(fieldList);
            setImgTheme(strField.replace(/__name__/g, fieldCount));
            fieldCount++;
            setOrden();
            chkCountImg();
        });

        $(document).on('click', '.remove-list-item', function (e) {
            e.preventDefault();
            var collectionHolder = $($(this)).parents('li');
            collectionHolder.remove();
            fieldCount --;
            setOrden()
            chkCountImg();
        });

        $(document).on('click', '.collection-collapsed', function (e) {
            e.preventDefault();
            var fieldset = $(this).parent();
            var legend = $(this);
            var span = legend.children('span');
            var div = fieldset.children('div.collapsible');

            if (div.css('display') == "none") {
                span.removeClass("glyphicon glyphicon-plus");
                span.addClass("glyphicon glyphicon-minus")
            } else {
                span.removeClass("glyphicon glyphicon-minus");
                span.addClass("glyphicon glyphicon-plus")
            }
            div.toggle();
        });

        $(".fileimg").each(function () {
            fileImg = "{{asset("uploads/banners/") }}" + $(this).data("image");
            $("#"+this.id).fileinput({
                initialPreview: ["<img src='"+fileImg+"' class='file-preview-image'>"],
                overwriteInitial: true,
                showUpload: false,
                showCaption: false,
                browseClass: "btn btn-primary btn-sm",
                fileType: "any",
                allowedFileTypes: ['image'],
                'allowedFileExtensions': ['jpg', 'png', 'gif'],
                uploadLabel: 'Subir',
                removeLabel: 'Quitar',
                browseLabel: 'Explorar'
            });
        })

        $("#appbundle_contenido_tipo").change(function(){
            opc = $("#appbundle_contenido_tipo").val();
            $("#item_list_contenidoDetalle_collection").html("");
            fieldCount = 0;
            chkCountImg()
            if(opc == 0)
                $("#add-new").show();
            if(opc == 4)
                $("#add-new").hide();
        });


    })

    chkCountImg = function(){
        opc = $("#appbundle_contenido_tipo").val();
        if( opc >0 && opc <4 ){
            if(opc <= fieldCount ){
                $("#add-new").hide();
            }else{
                $("#add-new").show();
            }
        }
    }

    setImgTheme = function (tagName) {

        $("#" + tagName).fileinput({
            {#{% set imagen_src = ('entity.imagen' == null ? asset("images/default-image.png" ) : asset("uploads/categorias/" ~ 'entity.imagen'  )) %}#}

            initialPreview: ["<img src='{{ "imagen_src" }}' class='file-preview-image'>"],
            overwriteInitial: true,
            showUpload: false,
            showCaption: false,
            browseClass: "btn btn-primary btn-sm",
            fileType: "any",
            allowedFileTypes: ['image'],
            'allowedFileExtensions': ['jpg', 'png', 'gif'],
            uploadLabel: 'Subir',
            removeLabel: 'Quitar',
            browseLabel: 'Explorar'
        });
    }

    setOrden = function () {
        orden = 1
        $(".orden", "#item_list_contenidoDetalle_collection").each(function () {
            $(this).val(orden++);
        });
    }

</script>

