{% extends "AppBundle:frontend:base.html.twig" %}
{% block body %}

<div class="content">
    <div class="container">
        {% block container %}
        <div class="row">
            <div class="col-md-12" id="{% block contentId "" %}">
                {% block workarea %}{% endblock %}
                {% block contenido %}{% endblock %}
            </div><!-- /.col -->
        </div><!-- /.row -->
        {% endblock container %}
    </div><!-- /.container -->
</div><!-- .content -->


{% if logout is defined %}
    {% set logout_path = path('usuario_logout') %}
{% endif %}

{% endblock body %}

{% block javascript_footer %}
    {{ parent() }}
    {#Para upload#}
    <script src="{{ asset('bundles/rbsoftabmgenerador/fileupload//js/fileinput.min.js')}} "></script>
{% endblock %}