
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/vendor/
/.idea/*
/.idea/workspace.xml

.idea/workspace.xml

/web/bundles/*
/web/assetic/*
/web/js/*
/web/css/*
/web/uploads/productos/*

/app/config/parameters.yml
web/assetic/
web/bundles/
/web/cache/*
web/css/
web/js/
web/uploads/productos/

/var/cache/*
/var/logs/*
/var/apache2/*
/app/extras/*

/composer.lock
/composer.phar
