var/*
/var/apache2/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

/build/
/vendor/
/bin/
/composer.phar

/.idea/*
/.idea/workspace.xml

.idea/workspace.xml

/web/bundles/*
/web/assetic/*
/web/js/*
/web/css/*
/web/uploads/productos/*

/web/cache/*
/app/extras/*

composer.lock

