<div class="alert alert-info" id="column-information-notice">
    <strong>Importante</strong>:
    La implementacion de metadatos, respetar la jerarquía de niveles.
    <div id="contact-information-fields-list"></div>
</div>
