{% extends "AppBundle:admin:layout.html.twig" %}

{% block id 'changePassword' %}

    {% block contenido -%}
        {% embed '::portlet.html.twig' with {'titulo': '<span class="small">Usuario:</span>  ' ~ user.nombre } %}
            {% block in_header %}
                <div class='pull-right'></div>
            {% endblock %}

            {% block cuerpo %}
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class='alert alert-{{ type }}'>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <p></p>
                {% include "UsuarioBundle:Usuario:changePassword_content.html.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock contenido %}