{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
    {{ form_widget(form) }}
    <div class="pull-right">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
    </div>
</form>
