.portlet-title, .content-title {
    margin-bottom: 0.5em;
}
.table-striped caption .action-btn {
    display: block;
    float: right;
    margin-left: 10px;
    text-transform: none;
}

.table-striped caption {
    border-bottom: 2px solid #a5ced8;
    color: #5a6876;
    font-weight: bold;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0.5em;
    text-align: left;
    text-transform: uppercase;
}
.table .actions {

    text-align: right !important;
}
.show-header{
    width:20%;
    background: #f1f1f1;
    text-align: right;
}
input[type="checkbox"], input[type="radio"] {
    width:15px;
    box-sizing: border-box;
    padding: 0;
}

.table caption .action-btn {
    display: block;
    float: right;
    margin-left: 10px;
    text-transform: none;
    margin-bottom: 5px;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #447fe9;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*#iten_list_metadatos_collection ul, #iten_list_metadatos_collection ul li,#iten_list_metadatos_collection ol li {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*list-style: none;*/
/*}*/

#iten_list_metadatos_collection > li {
    margin: 15px auto;
    outline: 1px dashed #ccc;
    padding: 10px;

}
.zero-clipboard {
    display: block;
    position: relative;
}

.btn-clipboard {
    border-top-right-radius: 0;
    top: -16px;
}

.btn-clipboard {
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 0 0 4px;
    color: #777;
    cursor: pointer;
    display: block;
    font-size: 12px;
    padding: 5px 8px;
    position: absolute;
    right: -15px;
    top: -10px;
    z-index: 10;
}

.coolfieldset legend {
    cursor: pointer;
    font-size: 15px;
}

.coolfieldset legend > span {
 font-size: 12px;
}

.thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 4px;
    margin-right: 4px;
    transition: all 0.2s ease-in-out 0s;
}

.thumbnail img {
    max-width: 100%;
    height: auto;
}

.radio-select-primario{
    margin: 0 !important;
}

.existing-image .col-sm-6 {
    margin-bottom: 30px;
    position: relative;
}
.existing-image .col-sm-6 .btn-group {
    bottom: 5px;
    position: absolute;
    right: 20px;
}
.list-unstyled {
    list-style: outside none none;
    padding-left: 0;
}
#appbundle_producto_iva,
#appbundle_producto_precio,
#appbundle_compra_facturaNumero,
#appbundle_compra_cuit
{
    width: auto;
}
.form-control-disable {
    /*background-color: #fff;*/
    /*background-image: none;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
#iten_list_items_collection > li {
    /*margin: 15px auto;*/
    /*outline: 1px dashed #ccc;*/
    padding: 10px;
}

.item-codigo, .item-nombre, .item-cantidad{
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 7px;
    text-align: right;
    padding-right: 8px;
}
.input-group-addon {
    width: auto;
}
.form-group {
    margin-bottom: 15px;
}
