.portlet-title, .content-title {
    margin-bottom: 0.5em;
}
.table-striped caption .action-btn {
    display: block;
    float: right;
    margin-left: 10px;
    text-transform: none;
}

.table-striped caption {
    border-bottom: 2px solid #a5ced8;
    color: #5a6876;
    font-weight: bold;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0.5em;
    text-align: left;
    text-transform: uppercase;
}
.table .actions {
    text-align: right;
}
.show-header{
    width:20%;
    background: #f1f1f1;
}
input[type="checkbox"], input[type="radio"] {
    width:15px;
    box-sizing: border-box;
    padding: 0;
}

