#veil {
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    cursor: not-allowed;
    filter: alpha(opacity=70);
    opacity: 0.7;

    background: #000000 url('../../images/loadinfo.gif') ;
    /*background: #000000 url('../../images/loadinfo.gif') no-repeat center;*/
    background-repeat: no-repeat;
    background-position: center center;
}

#prLoading {
    position: absolute;
    top: 200px;
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
    color: snow;
    text-shadow: 2px 2px 2px #021124;

}