{% extends "::base.html.twig" %}

{% block body %}
    <div class="content">
        <div class="container">
            {% block container %}
                <div class="row">
                    <div class="col-md-12">
                        {% block workarea %}{% endblock %}
                        {% block contenido %}{% endblock %}
                    </div>
                    <!-- /.col -->
                </div><!-- /.row -->
            {% endblock container %}
        </div>
        <!-- /.container -->
    </div><!-- .content -->

{% endblock body %}

{% block navbar %}
    {% include ':includes:navbar.html.twig' %}
{% endblock %}

{% block topbar %}
    {% include 'AppBundle:admin/Includes:menu.html.twig' %}
{% endblock %}


{#{% block javascript_footer %}#}
    {#{{ parent() }}#}

    {#&#123;&#35;Para upload&#35;&#125;#}
    {#<script src="{{ asset('admin/admin.js')}} "></script>#}
{#{% endblock %}#}