{% extends 'AppBundle:frontend:layout_with_sidebar.html.twig' %}

{#{% block pre_body %}#}
{#{% include "@App/frontend/includes/carrusel.html.twig" %}#}
{#{{ render(path("ultimosproductos")) }}#}
{#{% endblock pre_body %}#}


{% block workarea -%}
    <div class="row">
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            {#<!-- Breadcrumb Starts -->#}
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Spices &amp; Herbs</li>
            </ol>
            {#<!-- Breadcrumb Ends -->#}
            {#<!-- Main Heading Starts -->#}
            <h2 class="main-heading2">
                {{ cat.nombre }}
            </h2>
            {#<!-- Main Heading Ends -->#}
            {#<!-- Category Intro Content Starts -->#}
            <div class="row cat-intro">
                <div class="col-sm-3">
                    <img src="{{ asset("uploads/categorias/"~ cat.imagen) }}" width="189" height="189" alt="Image" class="img-responsive img-thumbnail">
                </div>
                <div class="col-sm-9 cat-body">
                    {{ cat.descripcion | raw }}
                </div>
            </div>
            {#<!-- Category Intro Content Ends -->#}
            {#<!-- Product Filter Starts -->#}
            <div class="product-filter">
                <div class="row">
                    <div class="col-md-4">
                        <div class="display">
                            <a href="category-list.html" class="active">
                                <i class="fa fa-th-list" title="" data-original-title="List View"></i>
                            </a>
                            <a href="category-grid.html">
                                <i class="fa fa-th" title="" data-original-title="Grid View"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <label class="control-label">Sort</label>
                    </div>
                    <div class="col-md-3 text-right">
                        <select class="form-control">
                            <option value="default" selected="selected">Default</option>
                            <option value="NAZ">Name (A - Z)</option>
                            <option value="NZA">Name (Z - A)</option>
                        </select>
                    </div>
                    <div class="col-md-1 text-right">
                        <label class="control-label">Show</label>
                    </div>
                    <div class="col-md-2 text-right">
                        <select class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3" selected="selected">3</option>
                        </select>
                    </div>
                </div>
                {#<!-- Product Filter Ends -->#}



            </div>
        </div>
        {#<!-- Primary Content Ends -->#}
        {#<!-- Sidebar Starts -->#}
        <div class="col-md-3">

        </div>
        {#<!-- Sidebar Ends -->#}
    </div>
    <br><br>
{% endblock %}
