<li class="top-level">
    <p>
        <a href="" onclick="navTrack('ocom','en','hnav','solutions');"><span>Gestión</span></a>
    </p>

    <div class="submenu two-columns">
        <div class="left-column">
            <dl>
                <dt><a href="">Fórmulas</a></dt>
                <dd><a href="admin.html">Administración1</a></dd>
                <dd><a href="admin.html">Administración2</a></dd>
                <dd><a href="admin.html">Administración3</a></dd>
                <dd><a href="admin.html">Administración4</a></dd>
                <dd><a href="admin.html">Administración5</a></dd>
                <dd><a href="admin.html">Administración6</a></dd>
            </dl>
            <dl>
                <dt><a href="">Fórmulas</a></dt>
                <dd><a href="admin.html">Administración1</a></dd>
                <dd><a href="admin.html">Administración2</a></dd>
                <dd><a href="admin.html">Administración3</a></dd>
                <dd><a href="admin.html">Administración4</a></dd>
                <dd><a href="admin.html">Administración5</a></dd>
                <dd><a href="admin.html">Administración6</a></dd>
            </dl>
        </div>
        <div class="right-column">
            <dl>
                <dt><a href="cloud.html">Cloud Solutions</a></dt>
            </dl>
            <dl>
                <dt><a href="">Fórmulas</a></dt>
                <dd><a href="admin.html">Administración1</a></dd>
                <dd><a href="admin.html">Administración2</a></dd>
                <dd><a href="admin.html">Administración3</a></dd>
                <dd><a href="admin.html">Administración4</a></dd>
                <dd><a href="admin.html">Administración5</a></dd>
                <dd><a href="admin.html">Administración6</a></dd>
            </dl>
        </div>
        {#<div class="bottomleft">#}
            {#<div class="bottomcenter">#}
                {#<div class="bottomright"> </div>#}
            {#</div>#}
        {#</div>#}
    </div>
</li>