{% extends 'AppBundle:admin:layout.html.twig' %}

{% block id 'Configuracion' %}

    {% block contenido -%}
        <div class="layout layout-main-right layout-stack-sm">

            <div class="col-md-3 col-sm-4 layout-sidebar">

                <div class="nav-layout-sidebar-skip">
                    <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>
                </div>

                <ul class="nav nav-layout-sidebar nav-stacked" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#profile-tab">
                            <i class="fa fa-user"></i>
                            &nbsp;&nbsp;Empresa
                        </a>
                    </li>
                </ul>

            </div> <!-- /.col -->



            <div class="col-md-9 col-sm-8 layout-main">

                <div class="tab-content stacked-content" id="settings-content">

                    <div id="profile-tab" class="tab-pane fade active in">

                        <h3 class="content-title"><u>Configurar la Empresa</u></h3>

                        {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>#}

                        <br><br>



                    </div> <!-- /.tab-pane -->

                </div> <!-- /.tab-content -->

            </div> <!-- /.col -->

        </div>

    {% endblock contenido %}
