{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block id 'request_password' %}

 {% block topbar %}

 {% endblock %}
{% block contenido -%}
    <br><br><br>
    {% embed '::portlet.html.twig' with {'titulo': 'Reseteo de Clave '} %}
        {% block in_header %}
            <div class='pull-right'></div>
        {% endblock %}

        {% block cuerpo %}
            <p></p>
            <p>{{ 'resetting.password_already_requested'|trans({},'FOSUserBundle') }}</p>
        {% endblock %}
    {% endembed %}
{% endblock contenido %}
