{% extends "layout.html.twig" %}

{% block topbar %} {% endblock %}

{% block contenido -%}
    <br><br><br>
    {% embed '::portlet.html.twig' with {'titulo': 'Reseteo de Clave '} %}
        {% block in_header %}
            <div class='pull-right'></div>
        {% endblock %}

        {% block cuerpo %}
            <p></p>

            {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
        {% endblock %}
    {% endembed %}
{% endblock contenido %}
