{% extends 'AppBundle:admin:layout.html.twig' %}

{% block id 'inicio' %}

    {% block contenido -%}
        <div class="layout layout-stack-sm layout-main-left">
            <div class="col-sm-7 col-md-8 layout-main">
                {% embed '::portlet.html.twig' with {'titulo': 'Ordenes ' } %}
                    {% block cuerpo %}


                    {% endblock %}
                {% endembed %}

                <div class="row">
                    <div class="col-md-6">
                        {% embed '::portlet.html.twig' with {'titulo': 'Otros ' } %}
                            {% block cuerpo %}


                            {% endblock %}
                        {% endembed %}
                    </div>
                    <div class="col-md-6">
                        {% embed '::portlet.html.twig' with {'titulo': 'Otros ' } %}
                            {% block cuerpo %}


                            {% endblock %}
                        {% endembed %}
                    </div>
                </div>

            </div>

            <div class="col-sm-5 col-md-4 layout-sidebar">

                <div class="portlet">
                    <a class="btn btn-primary btn-jumbo btn-block " href="{{ path('producto_new') }}">Nuevo Producto</a>
                    <br>
                    <a class="btn btn-secondary btn-lg btn-block " href="javascript:;">Alta de Factura</a>
                </div>
                <!-- /.portlet -->


                <h4>Actividad reciente Log</h4>

                <div class="well">

                    <ul class="icons-list text-md">
                        <li>
                            <i class="icon-li fa fa-comments-o text-success"></i>
                            <strong>New Sale!</strong>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </li>
                        <li>
                            <i class="icon-li fa fa-check-square text-secondary"></i>
                            <strong>New Action!</strong>
                            <br>
                            Vestibulum iaculis felis eu eros pellentesque placerat.
                        </li>
                        <li>
                            <i class="icon-li fa fa-truck text-tertiary"></i>
                            <strong>New Product!</strong>
                            <br>
                            Curabitur cursus nisl et mauris imperdiet porttitor.
                        </li>
                        <li>
                            <i class="icon-li fa fa-comments-o text-primary"></i>
                            <strong>New Comment!</strong>
                            <br>
                            Vestibulum iaculis felis eu eros pellentesque placerat.
                        </li>
                        <li>
                            <i class="icon-li fa fa-comments-o text-primary"></i>
                            <strong>New Comment!</strong>
                            <br>
                            Curabitur cursus nisl et mauris imperdiet porttitor.
                        </li>
                    </ul>
                </div>
                <!-- /.well -->

            </div>

        </div>
    {% endblock contenido %}
